// widescreens

@include mediaXl {
}

// laptops & desktops

@include mediaLg {
}

// tablets & small laptops
@include mediaMd {
  main {
    text-align: center;
    align-items: center;

    .lg-heading {
      line-height: 1;
      margin: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    font-size: 24px;
    transform: translate3d(-100%, 0, 0);
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../images/portrait_small.jpg);
      width: 150px;
      height: 150px;
    }
  }
}

// mobilephones

@include mediaSm {
  main#home {
    margin-top: 10vh;
  }
}
